# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
    # "v" で始まる Tag 名の push だけをトリガーの対象にします (e.g., "v0.0.2")
    - 'v*'

jobs:

  # Windows / macOS 用の job 定義
  build:
    runs-on: ${{ matrix.os-set.os }}

    strategy:
      matrix:
        os-set: [{"os": "macos-latest", "param": "electron:build-mac", "ext": "*.dmg" }, {"os": "windows-latest", "param": "electron:build-win", "ext": "*.zip" }]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install
      run: npm ci
    # ここでアプリをビルド
    - name: build vue application
      run: npm run build
    - name: electron build
      run: npm run ${{ matrix.os-set.param }}
    # Release の作成とビルドしたパッケージのアップロード
    - name: create release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        # 作成される Release は draft に留めておきたい
        draft: true
        # アップロード対象となるファイル名
        files: |
          dist/${{ matrix.os-set.ext }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
